* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #534636 url(img/7.png) no-repeat bottom center;
    background-size: 100% auto;
}

/* .biblApp {    
    
} */

.biblApp__header {
    background: #453B2E;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: #FC0 1px 0 10px;
}

