* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #534636 url(img/1.png) no-repeat bottom center;
    background-size: 100% auto;
}

ul {
    list-style: none;
}

.biblApp__header {
    background: #453B2E;
    padding: 10px;
    text-align: center;
    color: white;
}

.popup_book {
    display: none;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.book_add {
    display: flex;
}

input {
    background: #dfd4c4;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
}

.add_list, .clear_list {  
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 2px 4px;
}
.clear_list {
    margin-bottom: 20px;
}
.edit_list {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 2px 4px;
}

.btn {
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px 20px;
    background: #453B2E;
    color: #e8e1d7;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #9a8870;
    cursor: pointer;
}
.btn:hover {
    background: #534636;
    color: #d4a56d;
}

.addLi {
    word-wrap: break-word; 
    word-break: break-word; 
    color: black;
    border: 3px solid #453B2E;
    border-radius: 5px;
    padding: 8px 30px 5px 20px;
    min-height: 40px;
    width: 80%;
    margin: 10px auto;
    position: relative;
    background: #e5e3de;
    }

.btn-edit {
    font-size: 14px;
    border: none;
    background: none;
    padding: 2px 4px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    right: 6px;
    top: 3.5px;
    width: 25px;
}

.btn-del {
    font-size: 14px;
    border: none;
    background: none;
    padding: 2px 4px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    right: 30px;
    top: 3.5px;
    width: 25px;
}

#books_list {
    background: #9a8870;
    width: 80%;
    margin: 20px auto;
    padding: 10px 5px;    
    border-radius: 5px;
    word-wrap: break-word; 
    word-break: break-word; 
}
.book_item {
    display: flex;
    gap: 15px;
    position: relative;
    background: #dfd4c4;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
}
.title {
    font-size: 18px;
    font-weight: 900;
    color: #2f2b27;
    text-transform: uppercase;
}
.category {
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
}
.author {
    font-size: 18px;
    font-weight: 400;
}



span {
    font-weight: bolder;
    font-size: 20px;
    margin-left: auto;
    margin-right: 50px;
    color: #2f2b27;
}