* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

.app {
    width: 50%;
    margin: 10px auto;
}

.app_header {
        background: #70918a;
    }

h1 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #e8e1d7;
    padding: 10px 20px;
    text-shadow: #101010 7px 0 5px;;
}
input {
    width: 100%;
    background: #d3eee8;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.shopping_item {
    border: 1px solid green;
    padding: 10px 10px;
}

.btn {
    font-family: 'Agbalumo';
    text-transform: uppercase;
    margin-top: 20px;
    width: 100%;
    padding: 2% 5%;
    background: #70918a;
    color: #e8e1d7;
    font-size: 14px;
    font-weight: 700;
    border: none;    
}
.btn:hover {
    background: #d3eee8;
    color: green;
}
.addadLi {
    color: black;
    height: 30px;
    border: 1px solid #70918a;
    border-radius: 5px;
}