* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}
.app {
    width: 50%;
    margin: 10px auto;
}

.app_header {
        background: #70918a;
        border-radius: 5px;
        position: relative;        
    }
img {
    width: 35px;
    position: absolute;
    left: 10px;
    top: 5px;
}
h1 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    color: #e8e1d7;
    padding: 10px 20px;
    text-shadow: #101010 7px 0 5px;
}
.write_shopping {
    width: 100%;
    background: #d3eee8;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #273330;
    border-radius: 5px;
    margin: 5px auto;
}

.shopping_item {
    border: 1px solid green;
    padding: 10px;
}

.btn {
    font-family: 'Agbalumo';
    text-transform: uppercase;
    margin-top: 5px;
    width: 100%;
    padding: 2% 5%;
    background: #70918a;
    color: #e8e1d7;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #32645b;
    cursor: pointer;
}
.btn:hover {
    background: #d3eee8;
    color: green;
}
.addLi {
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
    /* white-space: pre-line; */
    color: black;
    border: 3px solid #70918a;
    border-radius: 5px;
    padding: 8px 30px 5px 40px;
    margin-bottom: 5px;
    position: relative;   
    min-height: 40px;

}
.addLi_check {
    border: 2px solid #70918a;
    height: 25px;
    margin: 6px;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    font-weight: 900;
    color: #2e3d3a;
    cursor: pointer;
    z-index: 100;
    width: 25px;
}

.btn-edit {
    font-size: 14px;
    border: none;
    /* border: 2px solid #70918a; */
    background: none;
    padding: 2px 4px;
    /* border-radius: 5px; */
    position: absolute;
    cursor: pointer;
    z-index: 100;
    right: 6px;
    top: 3.5px;
    width: 25px;
}

.addLi-active {
    text-decoration: line-through;
}

/* .addLi_check:checked ~ activeLi:checked {
    text-decoration: line-through;
} */